$primary: #ffffff;
$secondary: #fb4226;
$dark: #000000;
$grey-300: #c5c5c5;
$grey-500: #4a4a4a;
$green-500: #00ac4d;
$green-300: #99cc58;

$text-xs: 0.5rem;
$text-sm: 0.875rem;
$text-md: 1rem;
$text-lg: 1.25rem;
$text-xl: 1.5rem;
$text-2xl: 2rem;
$text-3xl: 3rem;

$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-bold: 600;
$text-bolder: 700;

$rounded-xs: 0.3125rem;
$rounded-sm: 0.5rem;
$rounded-md: 1rem;

$spacing: 0.5rem;
